#root {
  background-color: #2f4f4f;
}

body, html {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

.overlay {
  display: flex;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  justify-content: center;
  align-items: center;
  z-index: 100; 
  background-color: rgba(0, 0, 0, 0.7); 
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.5s ease, visibility 0.5s ease; 
}
.overlay.visible {
  opacity: 1; 
  visibility: visible; 
}

.overlay-content {
  text-align: center;
  border-radius: 8px;
  width: 90%; 
  max-width: 45rem; 
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
  background-color: #FF5722;
  border-radius: 4px;
  overflow-y: auto; 
  max-height: 90vh; 
}


.overlay-content::-webkit-scrollbar {
  display: none; 
}

.overlay-content {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  z-index: 3;
}

  #wrapper:before {
    content: '';
    display: block;
  }

    @media screen and (max-width: 1680px) {

      /* #wrapper {
        padding: 3rem 2rem;
      } */

    }

    @media screen and (max-width: 736px) {

      #wrapper {
        padding: 2rem 1rem;
      }

    }

    @media screen and (max-width: 480px) {

      #wrapper {
        padding: 1rem;
      }

    }

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
  text-align: center;
  position: relative;
  z-index: 10;
  padding: 3rem;
}

  #header > * {
    transition: opacity 0.325s ease-in-out;
    position: relative;
    margin-top: 3.5rem;
  }

    #header > *:before {
      content: '';
      display: block;
      position: absolute;
      top: calc(-3.5rem - 1px);
      left: calc(50% - 1px);
      width: 1px;
      height: calc(3.5rem + 1px);
      background: #ffffff;
    }

  #header > :first-child {
    margin-top: 0;
  }

    #header > :first-child:before {
      display: none;
    }

  #header .logo {
    width: 5.5rem;
    height: 5.5rem;
    line-height: 5.5rem;
    border: solid 1px #ffffff;
    border-radius: 100%;
  }

    #header .logo .icon:before {
      font-size: 2rem;
    }

  #header .content {
    border-style: solid;
    border-color: #ffffff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    max-width: 70%;
  }

    #header .content .inner {
      transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
      transition-delay: 0.25s;
      padding: 2rem 2rem;
      max-height: 40rem;
      overflow: hidden;
    }

      #header .content .inner > :last-child {
        margin-bottom: 0;
      }

    #header .content p {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 0.8rem;
      line-height: 2;
    }

    #header .content h3 {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 2rem;
      line-height: 2;
    }

    #header .content h2 {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 1.5rem;
      line-height: 2;
    }

  #header nav ul {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    border: solid 1px #ffffff;
    border-radius: 4px;
  }

    #header nav ul li {
      padding-left: 0;
      border-left: solid 1px #ffffff;
    }

      #header nav ul li:first-child {
        border-left: 0;
      }

      #header nav ul li button {
        display: block;
        min-width: 9rem;
        height: 2.75rem;
        line-height: 2.75rem;
        padding: 0 1.25rem 0 1.45rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 0.8rem;
        border-bottom: 0;
        color: #fff;
      }

        #header nav ul li button:hover {
          background-color: rgba(255, 255, 255, 0.075);
        }

        #header nav ul li button:active {
          background-color: rgba(255, 255, 255, 0.175);
        }

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.is-preload #header {
  -moz-filter: blur(0.125rem);
  -webkit-filter: blur(0.125rem);
  -ms-filter: blur(0.125rem);
  filter: blur(0.125rem);
}

body.is-preload #header > * {
  opacity: 0;
}

body.is-preload #header .content .inner {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

.scaled-blurred {
  opacity: 0;
  transform: scale(0.98);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#main p {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: justify;
  padding: 5px;
}

#main h4 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: justify;
  padding: 0.5rem 0rem;
}

#main h2 {
  border-bottom: solid 1px #000;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
	margin: 0 0 1rem 0;
}

#main .aboutlist {
  list-style-type: square;
}

.stack {
  position: relative;
}

.overlay-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  background-color: #2f4f4f7a; 
  padding: 10px; 
  border-radius: 5px; 
  opacity: 0; 
  transition: opacity 0.6s ease;
}

.overlay-title:hover {
  opacity: 1; 
}
form {
  margin: 0 0 2rem 0;
}

  form > :last-child {
    margin-bottom: 0;
  }

  form > .fields {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 3rem);
    margin: -1.5rem 0 2rem -1.5rem;
  }

    form > .fields > .field {
      -moz-flex-grow: 0;
      -webkit-flex-grow: 0;
      -ms-flex-grow: 0;
      flex-grow: 0;
      -moz-flex-shrink: 0;
      -webkit-flex-shrink: 0;
      -ms-flex-shrink: 0;
      flex-shrink: 0;
      padding: 1.5rem 0 0 1.5rem;
      width: calc(100% - 1.5rem);
    }

      form > .fields > .field.half {
        width: calc(50% - 0.75rem);
      }

      form > .fields > .field.third {
        width: calc(100%/3 - 0.5rem);
      }

      form > .fields > .field.quarter {
        width: calc(25% - 0.375rem);
      }

  @media screen and (max-width: 480px) {

    form > .fields {
      width: calc(100% + 3rem);
      margin: -1.5rem 0 2rem -1.5rem;
    }

      form > .fields > .field {
        padding: 1.5rem 0 0 1.5rem;
        width: calc(100% - 1.5rem);
      }

        form > .fields > .field.half {
          width: calc(100% - 1.5rem);
        }

        form > .fields > .field.third {
          width: calc(100% - 1.5rem);
        }

        form > .fields > .field.quarter {
          width: calc(100% - 1.5rem);
        }

  }

label {
  color: #ffffff;
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 4px;
  border: solid 1px #ffffff;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
}

  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid,
  input[type="tel"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none;
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  select:focus,
  textarea:focus {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
  }

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23ffffff' /%3E%3C/svg%3E");
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  height: 2.75rem;
  padding-right: 2.75rem;
  text-overflow: ellipsis;
}

  select option {
    color: #ffffff;
    background: #1b1f22;
  }

  select:focus::-ms-value {
    background-color: transparent;
  }

  select::-ms-expand {
    display: none;
  }

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75rem;
}

textarea {
  padding: 0.75rem 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0 0 0.5rem 0;
    padding-left: 2.65rem;
    padding-right: 0.75rem;
    position: relative;
  }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      text-transform: none !important;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
    }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
      -webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
      -ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
      transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
      border-radius: 4px;
      border: solid 1px #ffffff;
      content: '';
      display: inline-block;
      height: 1.65rem;
      left: 0;
      line-height: 1.65rem;
      position: absolute;
      text-align: center;
      top: -0.15rem;
      width: 1.65rem;
    }

  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    background: #ffffff !important;
    border-color: #ffffff !important;
    color: #1b1f22;
    content: '\f00c';
  }

  input[type="checkbox"]:focus + label:before,
  input[type="radio"]:focus + label:before {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
  }

input[type="checkbox"] + label:before {
  border-radius: 4px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

.formerize-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
  opacity: 1.0;
}

ul.actions {
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: 1rem;
  padding-left: 0;
}



  ul.actions li {
    padding: 0 0 0 1rem;
    vertical-align: middle;
    list-style: none;
  }


  @media screen and (max-width: 480px) {

    ul.actions:not(.fixed) {
      flex-direction: column;
      margin-left: 0;
      width: 100% !important;
    }

      ul.actions:not(.fixed) li {
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        padding: 1rem 0 0 0;
        text-align: center;
        width: 100%;
      }

        ul.actions:not(.fixed) li > * {
          width: 100%;
        }

        ul.actions:not(.fixed) li:first-child {
          padding-top: 0;
        }

        ul.actions:not(.fixed) li input[type="submit"],
        ul.actions:not(.fixed) li input[type="reset"],
        ul.actions:not(.fixed) li input[type="button"],
        ul.actions:not(.fixed) li button,
        ul.actions:not(.fixed) li .button {
          width: 100%;
        }

          ul.actions:not(.fixed) li input[type="submit"].icon:before,
          ul.actions:not(.fixed) li input[type="reset"].icon:before,
          ul.actions:not(.fixed) li input[type="button"].icon:before,
          ul.actions:not(.fixed) li button.icon:before,
          ul.actions:not(.fixed) li .button.icon:before {
            margin-left: -0.5em;
          }

  }


  input[type="submit"],
	input[type="reset"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 4px;
		border: 0;
    list-style-type: none;
    list-style: none;
		box-shadow: inset 0 0 0 1px #ffffff;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8rem;
		font-weight: 300;
		height: 2.75rem;
		letter-spacing: 0.2rem;
		line-height: 2.75rem;
		outline: 0;
		padding: 0 1.25rem 0 1.35rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover {
			background-color: rgba(255, 255, 255, 0.075);
		}

		input[type="submit"]:active,
		input[type="reset"]:active {
			background-color: rgba(255, 255, 255, 0.175);
		}

		input[type="submit"].primary {
			background-color: #ffffff;
			color: #1b1f22 !important;
			font-weight: 600;
		}

		

	input[type="submit"],
	input[type="reset"] {
		line-height: calc(2.75rem - 2px);
	}

.footer {
  color: #fff;
  width: 40%;
  padding: 0rem 7rem 0rem; 
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer li {
  width: 40%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  line-height: 2;
  display: flex;
  justify-content: center;
  padding: 1rem;
}